<h3>Planned Courses overview</h3>>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Titel</th>
			<th>Duur</th>
			<th>Code</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let course of courses">
			<td>{{ course.id }}</td>
			<td>{{ course.titel }}</td>
			<td>{{ course.duur }}</td>
			<td>{{course.code}}</td>
		</tr>
	</tbody>
</table>

Er moeten hier 2 input velden komen voor jaartal en week en daarop gaan we lekker filteren.

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Titel</th>
			<th>Duur</th>
			<th>StartJaar</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let fcourse of sortedlist">
			<td>{{ fcourse.course.id }}</td>
			<td>{{ fcourse.course.titel }}</td>
			<td>{{ fcourse.course.duur }}</td>
			<td>{{ fcourse.instancestartdatum | date }}</td>
		</tr>
	</tbody>
</table>

  <!-- [routerLink]="['edit', course.id]" -->